# Dependencies
node_modules

# Build output
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env*

# Editor/system
.DS_Store
Thumbs.db
.idea
*.swp
*.swo

# Vite cache
.vite


#Local Secret manager
.envvvvv 